aiofiles==24.1.0
aiosqlite==0.20.0
discord.py[speed]==2.4.0
pydantic==2.8.2
pydantic-settings==2.4.0
python-dotenv==1.0.1
SQLAlchemy==2.0.32
tzdata
urt30arcon==1.2.2
uvloop==0.20.0; sys_platform == 'linux'
