[Unit]
Description=UrT 4.3 Game/Discord Bot
AssertPathExists=/game/urt30t
After=network.target urt43_game.service

[Install]
WantedBy=multi-user.target

[Service]
User=urtadmin
Group=urtadmin
Restart=on-failure
RestartSec=3
EnvironmentFile=/game/urt30t/.env
WorkingDirectory=/game/urt30t
ExecStart=/game/urt30t/.venv/bin/python -m urt30t
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
