[Unit]
Description=UrT 4.3 Game Bot
AssertPathExists=%h/urt30t
After=urt43.service

[Install]
WantedBy=default.target

[Service]
Type=exec
CPUAffinity=2
WorkingDirectory=%h/urt30t
ExecStart=%h/urt30t/.venv/bin/python -m urt30t %h/.config/urt30t.toml
Restart=on-failure
RestartSec=5
RestartSteps=5
RestartMaxDelaySec=30
